name: Build Plugin
 
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Maven build with caching
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 16
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '16'
      - name: Restore Maven cache
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore
      - name: Build application with Maven
        run: mvn package
      - name: Upload Builded Plugin
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}
          path: target/**.jar
      - name: Save Maven cache
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: save