name: Publish Plugin Release

on:
  push:
    branches:
      - "release"

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release artifacts
    steps:
      - name: Set ENV's
        run: |
          echo "RELEASE_VERSION=$((mvn help:evaluate -Dexpression=project.version -q -DforceStdout))" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          title: ${{ env.RELEASE_VERSION }}
          prerelease: false
          automatic_release_tag: v${{ env.RELEASE_VERSION }} 
          files: |
            LICENSE.txt
            target/*.jar