name: Publish Plugin Release

on:
  push:
    branches:
      - "release"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Maven build with caching
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 16
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '16'
      - name: Restore Maven cache
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore
      - name: Build application with Maven
        run: mvn package
      - name: Set ENV's
        run: |
          echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          title: v${{ env.RELEASE_VERSION }}
          prerelease: false
          automatic_release_tag: v${{ env.RELEASE_VERSION }} 
          files: |
            LICENSE
            target/*.jar
            target/classes/plugin.json
      - name: Save Maven cache
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: save